<div class="location-viewer-body">
  <div id="location-page">
    <h3>{{locationName}}</h3>
    <div id="location-details-container">
        <h4>{{city}} {{state}}</h4>
    </div>
    <form id="dateFilter">
      <label for="filterDateStart" id="filterDateStart">From date:
        <input type="date" id="filterDateStart" name="filterDateStart" min="1826-01-01">
      </label>
      <label for="filterDateEnd" id="filterDateEnd">To date:
        <input type="date" id="filterDateEnd" name="filterDateEnd">
      </label>
      <button type="submit" id="applyDateFilterButton">Filter</button>
    </form>
    <form id="resetFilter">
      <button type="button" id="dateFilterResetButton">Reset</button>
    </form>
    <div class="timeline" id="timeline">
      {{#each images}}
      <div class="timeline-container">
        <div class="timeline-text-box">
          <div class="image-item" id="image-{{this._id}}">
            <a href="/images/photo/{{this._id}}">
              <img
                class="responsive-img"
                src="data:image/{{this.img.contentType}};base64,{{this.img.data}}"
                alt="{{this.photo_name}}"
              />
            </a>
            <div class="image-details">
              <h4>{{this.photo_date_time}}</h4>
              <h5 id="image-index-display-name">{{this.photo_name}}</h5>
              <p>Views: <span id="views-{{this._id}}">{{this.views}}</span></p>
              <p>Likes: <span id="likes-{{this._id}}">{{this.likes}}</span></p>
              
              {{!-- <button id="image-index-delete-button" onclick="deleteImageFromList('{{this._id}}')">Delete</button> --}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
