<!-- Display single image from database -->
<h1>{{photo.name}}</h1>
<hr />
<div>
    <img
      class="responsive-img"
      src="data:image/{{photo.img.contentType}};base64,{{photo.img.data}}"
      alt="{{photo.name}}"
    />
    <div class="image-details">
      <p>{{photo.desc}}</p>
      <button onclick="deleteImageSingleView('{{photo._id}}')">Delete</button>
    </div>
</div>
<script src="/public/js/main.js"></script>
