<!-- Display single image from database -->

<div class="single-image-body">
  <div id="single-image">
    <h1>Photo name: {{photo.photo_name}}</h1>
    <hr />
    <div id="single-image-container">
      <img
        class="responsive-img"
        src="data:image/{{photo.img.contentType}};base64,{{photo.img.data}}"
        alt="{{photo.photo_name}}"
      />
      <hr />
      <div class="single-photo-description">
        <p>Photo description: </p>
        <p>{{photo.photo_description}}</p>
      </div>
      <hr />
      
      <div class="all-image-details">
        <ul>
          {{!-- <li>Uploaded by (user_id):
            {{#checkNull photo.user_id}}{{/checkNull}}
          </li> --}}
          <li>Uploaded by (username)
            {{#checkNull photoUsername}}{{/checkNull}}
          </li>
          <li>Taken on (date_time_taken):
            {{#checkNull photo.date_time_taken}}{{/checkNull}}
          </li>
          <li>Uploaded on (date_time_uploaded):
            {{#checkNull photo.date_time_uploaded}}{{/checkNull}}
          </li>
          <li>Likes (likes): {{photo.likes}}</li>
          <li>Views (views): {{photo.views}}</li>
          <li>Verification rating (verification_rating):
            {{photo.verification_rating}}</li>
          {{!-- <li>Location (location):
            <pre>{{#printObj photo.location}}{{/printObj}}
            </pre>
          </li>
          <li>Content type (img.contentType): {{photo.img.contentType}}</li> --}}
        </ul>
      </div>
      <hr />

      <div class="photo-comments">
  <p>Comments</p>
  <ul>
    {{#each comments}}
    <li>
      <p class="comment-text">{{this.comment_text}}</p>
      <p class="comment-meta">USERNAME: {{this.username}} | On: {{this.creation_time}}</p>
    </li>
    {{/each}}
  </ul>
</div>

<div class="add-comment-form">
  <form id="add-comment-form" action="/images/comment/{{photo._id}}" method="POST">
    <textarea id="comment_text" name="comment_text" placeholder="Add your comment here..." required></textarea>
    <button type="submit">Add Comment</button>
  </form>
</div>

      
      <button
        id="single-image-delete"
        onclick="deleteImageSingleView('{{photo._id}}')"
      >Delete</button>
      <button
        id="single-image-edit"
        onclick="editImageSingleView('{{photo._id}}')"
      >Edit</button>
      <button id="back-button" type="button" action="backToGallery">Back to main gallery</button>

    </div>
  </div>
</div>

<script src="/public/js/image.js"></script>