<h1>Upload image to mongoDB</h1>
<hr />
<div>
    <form action="/images/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Image Title</label>
            <input type="text" id="name" placeholder="Name" value="" name="name" required />
        </div>
        <div>
            <label for="desc">Image Description</label>
            <textarea id="desc" name="desc" value="" rows="1" placeholder="Description" required></textarea>
        </div>
        <div class="file-upload-container">
            <input type="file" id="image" name="image" accept="image/*" value="" required />
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<hr />
<div id="image-container" class="image-container">
    {{#each images}}
    <div class="image-item">
        <a href="/images/photo/{{this._id}}">
            <img class="responsive-img" src="data:image/{{this.img.contentType}};base64,{{this.img.data}}" alt="{{this.name}}" />
        </a>
        <div class="image-details">
            <h5>{{this.name}}</h5>
            <p>{{this.desc}}</p>
            <button onclick="deleteImage('{{this._id}}')">Delete</button>
        </div>
    </div>
    {{/each}}
</div>
<script>
    async function deleteImage(id) {
        console.log(`Attempting to delete image with id: ${id}`);
        const response = await fetch(`/images/${id}`, {
            method: 'DELETE'
        });
        if (response.ok) {
            console.log('Image deleted successfully');
            location.reload(); // Refresh the page after deletion
        } else {
            console.error('Error deleting image:', response.statusText);
            alert('Error deleting image');
        }
    }
</script>
