<hr />
<div class="header-container">
  <h1>Upload image to mongoDB</h1>
</div>

<hr />
<div>
  <form
    id="uploadForm"
    action="/images/upload"
    method="POST"
    enctype="multipart/form-data"
  >
    <div>
      <label id="image-title" class="image-title" for="name">Image Title</label>
      <input
        type="text"
        id="name"
        placeholder="Name"
        value=""
        name="name"
        required
      />
    </div>
    <div>
      <label for="desc">Image Description</label>
      <textarea
        id="desc"
        name="desc"
        value=""
        rows="1"
        placeholder="Description"
        required
      ></textarea>
    </div>
    <div class="file-upload-container">
      <!-- Add 'multiple' attribute to 'file' to allow multiple file uploads? -->
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        value=""
        required
      />
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>
<hr />
<div id="image-container" class="image-container">
  {{#each images}}
    <div class="image-item">
      <a href="/images/photo/{{this._id}}">
        <img
          class="responsive-img"
          src="data:image/{{this.img.contentType}};base64,{{this.img.data}}"
          alt="{{this.name}}"
        />
      </a>
      <div class="image-details">
        <h5>{{this.photo_name}}</h5>
        <p id="image-list-description">{{this.photo_description}}</p>
        <button onclick="deleteImageFromList('{{this._id}}')">Delete</button>
      </div>
    </div>
  {{/each}}
</div>
