
<div id="image-index-header" class="header-container">
  <h1>Upload image to mongoDB</h1>
</div>
<hr />

<div id="image-index-upload-form" class="image-upload-form">
  <form
    id="uploadForm"
    action="/images/upload"
    method="POST"
    enctype="multipart/form-data"
    onsubmit="return checkFileSize(event);"
  >
    <div>
      <label id="image-upload-title" class="image-upload" for="name">Image Title</label>
      <input
        type="text"
        id="name"
        placeholder="Name"
        value=""
        name="name"
        required
      />
    </div>
    <div>
      <label id="image-upload-desc" class="image-upload" for="desc">Image Description</label>
      <textarea
        id="desc"
        name="desc"
        value=""
        rows="1"
        placeholder="Description"
        required
      ></textarea>
    </div>
    <div id="image-index-file-upload-container" class="file-upload-container">
      <!-- Add 'multiple' attribute to 'file' to allow multiple file uploads? -->
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        value=""
        required
      />
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>
<hr />

<div id="image-container" class="image-container">
  {{#each images}}
    <div class="image-item" id="image-{{this._id}}">
      <div class="like-heart" onclick="likeImage('{{this._id}}')">
        <span class="heart-icon">❤️</span>
        <span class="like-count" id="likes-{{this._id}}">{{this.likes}}</span>
      </div>
      <a href="/images/photo/{{this._id}}">
        <img
          class="responsive-img"
          src="data:image/{{this.img.contentType}};base64,{{this.img.data}}"
          alt="{{this.photo_name}}"
        />
      </a>
      <div class="image-details">
        <h5 id="image-index-display-name">{{this.photo_name}}</h5>
        <p id="image-list-description">{{this.photo_description}}</p>
        <p>Views: <span id="views-{{this._id}}">{{this.views}}</span></p>
        <button id="image-index-delete-button" onclick="deleteImageFromList('{{this._id}}')">Delete</button>
      </div>
    </div>
  {{/each}}
</div>
<script src="/public/js/image_index.js"></script>
