<div class = "user-dashboard-container">
  <Form action="/profilePage" method="POST">
      <label>
        User Profile Page 
      </label>
      <header>
        <h1>Welcome to Your Dashboard, {{newUser.first_name}}!</h1>
      </header>
      <br>
      <br>
      <main>
        <!-- User Details Part -->
        <section id="user-details">
          <h2>Profile Information</h2>
          <ul>
            <li><strong>First Name:</li></strong>{{newUser.first_name}}</li>
            <li><strong>Last Name:</li></strong>{{newUser.last_name}}</li>
            <li><strong>Email:</li></strong>{{newUser.email}}</li>
            <li><strong>Username:</li></strong>{{newUser.username}}</li>
            <li><strong>Creation_time:</li></strong>{{newUser.creation_time}}</li>
            <li><strong>Agreement:</li></strong>{{newUser.agreement}}</li>
            <li><strong>Profile bio:</li></strong>{{newUser.profile.bio}}</li>
            <li><strong>Profile photo:</li><img src="data:image/{{newUser.profile.profile_picture.contentType}};base64,{{newUser.profile.profile_picture.data}}" alt="Profile Pic" /></li>
            
            <!--<li><strong>Bio:</li></strong>{{newUser.profile.bio}}</li>   -->
          </ul>
        </section>

        <!-- Photos Part -->
        <section id="user-photos">
          <h2>Your Photos</h2>

        </section>

        <!-- Add Photos & Location Link -->
        <section id="add-photos">
          <!--<a href=""></
          a>-->

        </section>
      </main>
    </Form>
</div>
  