<div class = "user-dashboard-container"> 
  <article>
      <h1>Your profile information:</h1>
      <section>
          <p><strong>First name:</strong>{{firstname}}</p>
          <br>
          <p><strong>Last name:</strong>{{lastname}}</p>
          <br>
          <p><strong>Email:</strong>{{email}}</p>
          <br>
          <p><strong>username:</strong>{{username}}</p>
          <br>
          <p><strong>Biography:</strong>{{bio}}</p>
          <br>
      </section>
  </article>
      
</div>
  